<nav class="navbar">
  <div class="navbar-container">
    <a href="index.html" class="navbar-logo">
      <img src="assets/images/logo.png" alt="Clematis Logo" class="logo-img">
    </a>
    <ul class="navbar-menu">
      <li><a href="home.html">Home</a></li>
      <li><a href="about.html">About</a>
        <ul class="navbar-dropdown">
          <li><a href="about-mission.html">Mission</a></li>
          <li><a href="about-impact.html">Impact</a></li>
          <li><a href="about-partners.html">Partners</a></li>
          <li><a href="about-programs.html">Programs</a></li>
        </ul>
      </li>
      <li><a href="leadership.html">Leadership</a></li>
      <li><a href="research.html">Research</a></li>
    </ul>
  </div>
</nav>